body {
  margin: 0px auto 0px;
}

#header-nav {
  background-color: #BDB76B  ;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Company name */
  font-family: 'Arial', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #006400;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#main-content {
  background: #8FBC8F;
  margin: 15px auto 15px;
  padding: 10px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  #main-content {
    /*background: #8FBC8F;*/
    
  }

}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 /* #main-content {
    margin: 15px auto 15px;
    padding: 10px;
  }*/
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  /* #main-content {
    margin: 15px auto 15px;
    padding: 10px;
  }*/
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  
  #main-content {
    margin: 15px 15px 15px;
    padding: 10px;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
  #main-content {
    margin: 15px 15px 15px;
    padding: 10px;
  }
}

